@media (max-width: 1440px) {
  .dashboard-cards .card .card-body h4 {
    font-size: 16px;
    line-height: 18px;
  }
  .dashboard-cards .card .card-body p {
    font-size: 14px;
    line-height: 16px;
  }
  .dashboard-cards .card .card-body {
    padding: 15px 25px;
  }
  .table-heading-sec h3 {
    font-size: 22px;
    line-height: 20px;
  }
  .modern-table th {
    padding: 12px 15px;
    font-size: 12px;
  }
  .modern-table td {
    padding: 12px 15px;
  }
  .app-container.custom-style .side-menu.sidebar-style {
    width: 250px;
  }
  .app-container.custom-style .side-body.padding-top {
    margin-left: 235px;
  }

  .voyager.main-style .dashboard-body .navbar {
    width: calc(100% - 295px);
  }
  .modern-table,
  .voyager.main-style .modern-table {
    min-width: 980px;
  }
  .modern-table th,
  .voyager.main-style table th {
    padding: 10px 10px;
    font-size: 12px;
  }
  .modern-table td, .voyager.main-style table td {
    padding: 10px 10px;
    font-size: 12px;
}
  .modern-table td,
  .voyager.main-style table td {
    font-size: 12px;
  }
  .app-container .content-container .side-menu .navbar-nav li a {
    height: 45px;
    line-height: 45px;
  }
}
